@font-face {
  font-family: 'neon';
  src: url("fonts/NotoSansKR-Medium.otf");
  }
* {
  font-family: "neon";
}
body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
