@charset "utf-8"; /* article1 */
@keyframes btnAni { 
 0% { width:0 } 
 100% { width:94px } 
 }
/* *::-webkit-scrollbar { display: none; } 
 */ 
 
 body { padding:40px 0 100px; } 
 .swiper { width: 100%; height: 100%; margin-left: 0; } 
 .swiper-slide { display: flex; font-size: 32px; justify-content: center; align-items: center; } 
 /* footer 구역 */

 /* section */


.section.active { display: none; } 

 /* article1 */
.article1 { position:relative; } 
.article1 .slide { display: flex; position:relative; width:100%; height:460px; } 
.article1 .slide.slide1 { background: url(./img/main_img1.jpg) no-repeat center center; background-size: cover; } 
.article1 .slide.slide2 { background: url(./img/main_img2.jpg) no-repeat center center; background-size: cover; } 
.article1 .slide.slide3 { background: url(./img/main_img3.jpg) no-repeat center center; background-size: cover; } 
.article1 .slide.slide4 { background: url(./img/main_img4.jpg) no-repeat center center; background-size: cover; } 
/* quickTab */
#quickTab { position: absolute; top: 50px; right: 10%; width: 400px; padding: 20px 40px 30px; border-radius:20px; z-index:10; text-align: center; background-color: #fff; animation-name: jaehee; animation-duration:2s; animation-duration: leaner; animation-iteration-count:infinite; animation-direction:alternate; animation-fill-mode: forwards; } 
 @keyframes jaehee { 
 0% { top:200px; } 
 100% { top:210px } 
 }

.fa-plane { width:30px; } 
.stit_con_title { color: #222; font-size: 30px; margin-bottom: 20px; line-height: 1; } 
.search_link { display: table; width: 100%; margin: 30px 0; table-layout: fixed; } 
.search_link li { display: table-cell; height: 30px; color: #222; font-size: 18px; line-height: 1; text-align: center; vertical-align: top; } 
.spot_search { position: relative; margin-bottom: 15px; } 
.spot_search input[type="text"] { width: 100%; height: 45px; padding: 0 10px; font-size: 16px; border-radius: .25rem; } 
.spot_search .btn_city { position: absolute; top: 13px; right: 10px; color: #222; font-size: 14px; border:none; background: #fff; } 
.spot_search .btn_city i { width:20px; height: 10px; font-size:16px; } 
.spot_search .btn_city:before { content: ''; display: block; position: absolute; bottom: -2px; width: 55px; height: 1px; background: #222; } 
.spot_search label { position: absolute; top: 0; left: .7rem; padding: 0 .3rem; color:#333; font-size: .7rem; background: #fff; transform: translateY(-50%); } 
.spot_search select { width:49% !important; height: 2.5rem; padding:0 1rem; border: 1px solid #e9ebee; border-radius: .25rem; background: #fff; box-sizing:border-box; } 
.spot_search input.spot_date { width: 49% !important; height: 2.5rem; padding:0 1rem; border: 1px solid #e9ebee; border-radius: .25rem; background: #fff; box-sizing:border-box; } 
.tour_quick_search .btn_cof.cfrm { width: 100%; height: 55px; margin: 0; } 
.block_keyword { margin-top: 20px; border-top: 1px solid #ddd; } 
.block_keyword .area_word { display: flex; width:100%; justify-content: center; align-items: center; padding-top: 10px; } 
.block_keyword .txt_keyword { width: 65px; font-size: 14px; line-height: 24px; } 
.block_keyword .list_keyword { width: 225px; } 
.block_keyword .list_keyword li { color: #4567ad; font-size: 14px; line-height: 24px; } 
.btn_cof { display: inline-block; width: 100%; height: 50px; margin: 0 4px; color: #fff;  font-size: 18px; border:none; background: #4567ad !important; line-height: 50px; vertical-align: top; text-align: center; } 
/* quickTab 기본값 */
input[type="text"], input[type="number"] { width: 150px; height: 38px; padding: 0 10px; border: 1px solid #ddd; line-height: 38px; box-sizing: border-box; vertical-align: middle; } 


/* article2 */
.article2 { position:relative; height:530px; margin: 100px 0 0; overflow: hidden; max-width: 100%;; background-color: #fff; } 
.article2 .tit h3 { font-size: 35px; font-weight: 500; text-align: center; } 
.article2 .tit .titimg { position:relative; } 
.article2 .tit .titimg .slide { } 
.article2 .tit .titimg .slide span { display: block; position: relative; height: 200px; margin: 0 13px; border-radius: 5px; background-size: cover; background-position: center; } 
.article2 .slide { flex:1; text-align: center; } 
.article2 .slide > span.art2_img1 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/b0/b030c6bb06c3c8ee12cea9a22dc979fc.tn.410x280.png) } 
.article2 .slide > span.art2_img2 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/4a/4acdfd2e4b11786c5f688e28a4afbced.tn.410x280.jpg) } 
.article2 .slide > span.art2_img3 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/45/456ca0b1dd8dcd85758162e7f32bfead.tn.410x280.png) } 
.article2 .slide > span.art2_img4 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/bc/bcf8f836ad2cfe217c1030f470ac31c5.tn.410x280.jpg) } 
.article2 .slide > span.art2_img5 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/0c/0c79217939226d3d87daada467c0e1b7.tn.410x280.png) } 
.article2 .slide > span.art2_img6 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/fe/fe6a9c346bb72b09a26df1ef6d3fc82e.tn.410x280.png) } 
.article2 .slide > span.art2_img7 { background-image:url(https://dimgcdn.ybtour.co.kr/TN/28/2845f1570714eb4b14b8efc67f3fbe02.tn.410x280.jpg) } 
.article2 .tit .titimg .slide .slideTxt { height:115px; background-color: #fff; } 
.article2 .tit .titimg .slide .slideTxt p { display: block; padding:10px 0 0; color:#111; font-size: 20px; font-weight: 600; line-height: 20px; } 
.article2 .tit .titimg .slide .slideTxt b { display: block; padding:10px 0; color:#333;; font-size:16px; font-weight: 500; } 
.article2 .tit .titimg .slide .slideTxt span { color:#111; font-size:20px; } 
.article2 .slick-arrow { position:absolute; top:50%; width:40px; color:#000; border:none; transform: translateY(-50%); } 
.article2 .slick-prev { left:-100px; z-index: 999; } 
.article2 .slick-next { right:-100px } 

/* article3 */
.article3 { position:relative; } 
.article3 .slide { position:relative; width:100%; height:180px; } 
.article3 .slide img { margin:0 auto; } 
.article3 .slide1 { width: 1238px; background: rgb(222, 152, 179); } 
.article3 .slide2 { width: 1238px; background: rgb(175, 136, 227); } 

/* article4 */
.article4 { position:relative; height:500px; margin:100px auto; } 
.slide-group4 { position:relative; width:1280px; margin:0 auto; } 
.article4 .slide { position:relative; height:500px; transform:scale(0.85); transition:all 0.5s; } 
.article4 .slide img { width:300px; height:300px; padding:0 !important; margin:0 auto; border-radius: 50%; transform:scale(0.85); transition:all 0.5s; opacity:0.6; } 
.article4 .slide p { font-size:30px; text-align: center; } 
.article4 .slide .item_title { color: #111; font-size: 20px; font-weight: 600; transition: all 0.4s; } 
.article4 .slide .item_text { color: #666; font-size: 15px; line-height: 18px; transition: all 0.4s; } 
.item_title + .item_text { margin-top: 20px; } 
.article4 .slick-arrow { position:absolute; top:50%; color:#000; font-size:50px; border:none; transform:translateY(-50%); } 
.article4 .slick-prev { left:-100px; z-index:99999 } 
.article4 .slick-next { right:-100px } 
.article4 .slide.slick-active img { opacity:1 } 
.article4 .slide.slick-active.slick-center.slick-current .item_title { padding:20px 0 0; font-size:40px; } 
.article4 .slide.slick-active.slick-center.slick-current .item_text { font-size:20px; line-height: 30px; } 
.article4 .slide.slick-active.slick-center.slick-current img { transform:scale(1) } 


/* article5 */
.article5 { position: relative; background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); } 
.article5 .slide-group5 { width:1280px; margin: 0 auto; } 
.article5 .slide { position:relative; width:100%; height:38rem; } 
.article5 .slide > div.part1 { position:absolute; top:50%; left:0; width:50%; transform: translateY(-50%); } 
.article5 .slide > div.part2 { position:absolute; top:50%; right:0; width:50%; transform: translateY(-50%); } 
.article5 .slide > div.part2 .part2_art1 { display: flex; padding:53px 0 0; } 
.article5 .slide > div.part2 .part2_art2 { display: flex; padding:10px 0 0; } 
.article5 .slide > div.part2 img { width:102px; height:102px; } 
.article5 .slide > div.part2 .part2_img { float:left; width:20%; } 
.article5 .slide > div.part2 .part2_txt { float:left; width:70%; } 
.article5 .slide > div.part2 .part2_info { padding:0 0 0 30px; } 
.article5 .slide > div.part2 .part2_art1 > a { display: inline-block; } 
.article5 .slide > div.part2 .part2_h3 { display: inline-block; height: auto; padding: 0 0 25px; margin: 17px 0 0px; font-size: 20px; font-weight: bold; border-bottom: 3px solid #111; line-height: 1; } 
.article5 .slide > div.part2 .part2_p { padding:20px 0; color: #111; font-size: 30px; font-weight: 600; } 
.article5 .slide > div.part2 ul li { line-height:22px; font-size:20px; } 
.article5 .slide > div.part2 .part2_info .info1 { color: #111; font-size: 20px; font-weight: 600; line-height: 27px; line-height: 1; margin-top: 7px; } 
.article5 .slide > div.part2 .part2_info .info2 { display: block; padding:10px 0 0; color: #666; font-size: 20px; line-height: 16px; } 
.article5 .slide > div.part2 .part2_info .info3 { display: block; padding:20px 0 0; color: #111; font-size: 18px; font-weight: bold; line-height: 1; } 
.article5 .slick-arrow { position:absolute; top:50%; width:40px; color:#000; border:none; transform: translateY(-50%); } 
.article5 .slick-prev { left:-100px; z-index: 999; } 
.article5 .slick-next { right:-100px } 

/* article6 */
.article6 { width:100%; padding:100px 0; background-image: linear-gradient(to top, #dfe9f3 0%, white 100%) } 
.article6 > div { width:100%; margin:0 auto; } 
.article6 h3 { padding:0 0 60px; font-size: 35px; font-weight: 500; text-align: center; } 
.bannerUl { margin:0 auto; overflow: hidden; max-width:100%; text-align: center; } 
.bannerUl li { float:left; width:20%; transform:scale(1); } 
.bannerUl li .span2 { display: block; padding:5px 0 0; color:#666; } 
.bannerUl li p { font-size:23px; } 
.bannerUl li div.bannerImg { position:relative; padding:10px; overflow:hidden; } 
.bannerUl li div.bannerImg:before { content:''; position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,0); transition:all 0.4s; } 
.bannerUl li:hover div.bannerImg:before { background:rgba(0,0,0,0.5); z-index:9; } 
.bannerUl li div.bannerImg img { height:200px; transition:all 0.4s; min-width: 100%; } 
.bannerUl li:hover div.bannerImg img { transform: scale(1.2); } 
.bannerUl li div.bannerImg .zoom { position:absolute; top:50%; left:50%; color:#fff; font-size:20px; z-index:10; transform:translate(-50%, -50%); opacity:0; transition:all 0.4s; } 
.bannerUl li:hover div.bannerImg .zoom { opacity:1; cursor: pointer; } 
.bannerUl li:hover div.bannerImg .zoom a { width:20px; height:20px; opacity:1; cursor: pointer; } 


/* article7 */
.article7 { position:relative; height:755px; max-width:100%; background-size:cover; background-position:center; background-image: url(./img/article7_img1.jpg); } 
.article7 .box { width:1280px; height:100%; padding:0 20px; margin: 0 auto; } 
.article7 .box h2 { display: block; padding:60px 0 35px; color: #fff; font-size: 30px; font-weight: 400; line-height: 38px; text-align: center; } 
.article7 ul li { display: block; float:left; position:relative; height: 517px; padding:20px 40px; background-color: #fff; } 
.article7 ul li.left { width:35% } 
.article7 ul li .box_txt { position:absolute; bottom: 50px; } 
.article7 ul li iframe { width: 300px; height:200px; } 
.article7 ul li .box1_p1 { padding:0 0 20px; color: #111; font-size: 14px; line-height: 1; letter-spacing: 0; } 
.article7 ul li strong { font-size: 20px; font-weight: 600; line-height: 28px; margin-top: 10px; } 
.article7 ul li .box1_p2 { color: #666; font-size: 15px; line-height: 25px; margin-top: 10px; } 
.article7 ul li .box_txt b { display: block; padding:30px 0 0; font-size:13px; font-weight: 400; } 
.article7 ul li.center { width:35%; background:url(./img/article7_img2.png); background-size:cover; background-position:center; } 
.article7 ul li.right { position:relative; width:30%; } 
.article7 ul li.right img { position:absolute; top:50px; left:50%; width:220px; height:220px; border-radius: 50%; transform: translateX(-50%); } 
.article7 ul li.center { color:#fff; } 
.article7 ul li.center .box1_p1 { color:#fff; } 
.article7 ul li.center .box1_p2 { color:#fff; } 
