.airSection { height:100vh } 
#inputDiv { position: relative; top: 74px; display: flex; justify-content: center; text-align: center; margin: 0 auto; width: 1000px; height: 151px; } 
#inputDiv > div { flex:1; margin:0 10px; font-size:20px; } 
#inputDiv select { width: 200px; border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 10px; padding: 12px 13px; font-style: normal; font-weight: 400; font-size: 18px; line-height: 16px; } 
/* #inputDiv p { margin:0px 0 8px; } */
#cityArea { width: 200px; border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 10px; font-style: normal; font-weight: 400; font-size: 18px; line-height: 16px; padding:8px 8px; } 
.btn_cof { width: 200px; border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 10px; font-style: normal; font-weight: 400; font-size: 16px; line-height: 16px;; margin:13px 8px; } 
.tableVal { display: flex; width: 55%; margin: 55px auto; flex-direction: column; } 
.tableVal > .table_head { border-radius: 12px; border: 1px solid #e0e0e0; background: #fff; padding: 25px 30px; margin:0 0 20px; } 
.item_summary { display: flex; width:100% } 
.item_summary > div { flex:1 } 
.item_summary_btn { background-color: #4567ad; color:#fff; border: none; width:100px; height:20px; font-size:18px; } 
.tableMiri { text-align: center; } 
.tableMiri.on { background-color: aqua; } 
.airportModal { font-weight: bold; text-align: center; } 
.modalTime { font-size:14px; font-weight:500; } 
.modalCenterLine { height:145px; border-right:1px solid #bbb; width:50%; margin:20px 0; } 